@import "~@blueprintjs/core/lib/scss/variables";

.object-tree-view {
  max-width: 120rem;
  margin: 3rem auto;

  &__header {
    max-width: 120rem;
    margin: 1rem auto;
  }
}

.object-header {

  position: relative;

  &__sort-search {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__text-filters {
    display: flex;
    align-items: start

  }

  &__refresh {
    /*
    display: flex;
    align-items: start
    */
    position: absolute;
    top: 0;
    right: -5rem;
  }

  &__offset {
    display: flex;
    margin-top: 1rem;
    margin-left: 3rem;
  }

  &__pages {
    display: flex;
    margin-right: 1rem;
    margin-top: 2rem;
  }
}

.object-line {

  display: flex;
  align-items: center;

  &__name {
    margin-right: 1rem;
  }

  &__description {
    height: 1.6rem;
    margin-left: 1rem;
  }

  &__timestamp {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__name {
    margin-right: 1rem;
  }

  &__edit-link {
    margin-left: 1rem;
  }
}

.object-property-value-line {

  display: flex;
  align-items: center;

  & > * {
    margin-right: 1rem;
  }

  &__property-description {
    height: 1.6rem;
  }

  &__value-description {
    height: 1.6rem;
  }
}

.object-value {

  &__boolean {
    margin-left: 5rem;
    margin-right: 5rem;

    &--true {
      color: $red4;
    }

    &--false {
      color: $green4;
    }

  }
}

.new-object-link {
  transform: translateX(2rem);
}
