@import "~@blueprintjs/core/lib/scss/variables";

.object-tree-view {
  max-width: 120rem;
  margin: 3rem auto;
}

.object-header {

  position: relative;

  &__sort-search {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__text-filters {
    display: flex;
    align-items: start
  }

  &__refresh {
    position: absolute;
    top: 0;
    right: -5rem;
  }
}

.object-line {

  display: flex;
  align-items: center;

  &__name {
    margin-right: 1rem;
  }

  &__description {
    height: 1.6rem;
    margin-left: 1rem;
  }

  &__subject {
    margin: 0 1rem;
  }

  &__edit-link {
    margin-left: 1rem;
  }
}

.object-property-value-line {

  display: flex;
  align-items: center;

  & > * {
    margin-right: 1rem;
  }

  &__property-description {
    height: 1.6rem;
  }

  &__value-description {
    height: 1.6rem;
  }
}

.object-value {

  &__boolean {

    &--true {
      color: $red4;
    }

    &--false {
      color: $green4;
    }

  }
}

.new-object-link {
  transform: translateX(2rem);
}
