@import "abstract";

.book-tree-view {
  max-width: 120rem;
  margin: 3rem auto;

  &__line-icon {
    height: 1.6rem;
    width: 1.6rem;
    fill: $color-icon-default;
    margin-right: .4rem;

    &--clickable:hover {
      fill: $color-icon-hover;
    }
  }

  &__add-to-list-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-icon-default;
    margin-left: .5rem;

    &:hover {
      fill: $color-icon-hover;
    }
  }

  &__delete-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-icon-default;
    margin-left: 1rem;

    &:hover {
      fill: red;
    }
  }

  &__label {
    display: inline-block;
    cursor: pointer;
    padding: .2em 0;

    &--selected {
      background-color: #c2e2ed;
      border-radius: 2px;
    }

    & > span {
      padding: 0 .5rem;
    }

    &:hover > span {
      text-decoration: underline;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__label-name {
    font-weight: 600;
  }

  &__label-item {
    color: $color-text-dark-grey;

    &-name {
      font-weight: 600;
      padding-right: .5rem;
    }
  }

  &__description {
    height: 1.75rem;
    width: 1.75rem;
    margin-left: 1rem;
  }
}