@import "abstract";

.book-tree-view {
  max-width: 120rem;
  margin: 3rem auto;

  &--line-icon {
    height: 1.6rem;
    width: 1.6rem;
    fill: $color-icon-default;
    margin-right: .4rem;

    &__clickable:hover {
      fill: $color-icon-hover;
    }
  }

  &--add-to-list-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-icon-default;
    margin-left: .5rem;

    &:hover {
      fill: $color-icon-hover;
    }
  }

  &--delete-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-icon-default;
    margin-left: 1rem;

    &:hover {
      fill: red;
    }
  }

  &--label {
    display: inline-block;
    cursor: pointer;
    padding: .2em 0;

    &__selected {
      background-color: #c2e2ed;
      border-radius: 2px;
    }

    & > span {
      padding: 0 .5rem;
    }

    &:hover > span {
      text-decoration: underline;
    }
  }

  &--label-name {
    font-weight: 600;
  }

  &--label-item {
    color: $color-text-dark-grey;

    &-name {
      font-weight: 600;
      padding-right: .5rem;
    }
  }
}