@import "abstract";

.aspect-edit-console {

  position: fixed;

  box-shadow: 0 -.5rem 2rem #AAA;

  bottom: 0;
  background-color: $color-background-white;
  left: 0;
  right: 0;
  padding: 0 10rem 0 20rem;

  &--description-icon {
    height: 3rem;
    width: 3rem;
    fill: $color-icon-default;
  }

  &--input-group-aspect {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 2rem 0;
  }

  &--input-group-aspect-property {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2rem 0;
  }

  &--input-group-aspect-property-aspect {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &--input-group-aspect-container {
    flex: 1 1;
    border: 2px solid $color-border;
    border-radius: 7px;
    margin: .5rem 0;
  }

  &--aspect-input-container {
    flex: 1 1 20rem;
    padding: 0 1rem;
  }

  &--property-aspect-label {
    margin-left: .5rem;
  }

  &--property-aspect-description {
    height: 2rem;
    width: 2rem;
    margin-left: .5rem;
  }

  &--property-aspect-wrapper {
    flex: 1 1 auto;
    padding: 1rem;
    border: 2px solid $color-border;
    border-radius: 7px;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  &--aspect-property-input-container {
    flex: 0 1 25rem;
    padding: 0 1rem;
  }

  &--input-label {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-bottom: 0;
  }

  &--input-wrapper {
    border-radius: 3px;
    background-color: $color-border;
    line-height: 3rem;
    height: 3rem;
    padding: 0 .5rem;

    &:focus-within {
      background-color: $color-background-blue;
    }
  }

  &--input {
    border: none;
    background-color: transparent;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &--button-control-tab {
    flex: 0 1 10rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &--button-control {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $color-border;
    background-color: $color-background-white;
    height: 3rem;
    width: 3rem;
    margin: 0 1rem;
    cursor: pointer;
    transition: all .2s;
    transform: scale(0.9);

    &:hover {
      background-color: #BBB;
      transform: scale(1);
    }
  }

  &--button-control:hover > &--button-icon__green {
    fill: green;
  }

  &--button-control:hover > &--button-icon__yellow {
    fill: #ff7200;
  }

  &--button-control:hover > &--button-icon__red {
    fill: red;
  }

  &--button-icon {
    height: 1.8rem;
    width: 1.8rem;

    &__green {
      fill: $color-icon-grey;
    }
    &__red {
      fill: $color-icon-grey;
    }
  }

  &--error-message-container {
    text-align: center;
    padding: .5em 0;
  }

  &--error-message {
    font-weight: 600;
    font-size: 1.4rem;
    color: maroon;
  }
}

.aspect-table-select.Select {
  width: 100%;
}

.aspect-table-select.Select > .Select-control {
  border-radius: 3px;
  border: none;
  background-color: transparent !important;
  outline: none !important;
  height: 3rem;
  line-height: 3rem;
}

.Select.aspect-table-select > .Select-menu-outer {
  top: auto;
  bottom: 100%;
}

.Select.aspect-table-select.similar-aspects {
  width: 40rem;
}
