.aspect-edit-console {

  position: fixed;

  //border-top-left-radius: 5px;
  //border-top-right-radius: 5px;
  //border: 1px solid #666;
  box-shadow: 0 -.5rem 2rem #AAA;

  bottom: 0;
  left: 0;
  right: 0;

  &--input-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
  }

  &--input-container {
    flex: 0 1 35rem;
  }

  &--input-label {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-bottom: 0;
  }

  &--input-wrapper {
    border-radius: 3px;
    background-color: #d6d6d6;
    line-height: 3rem;
    height: 3rem;
    padding: 0 .5rem;

    &:focus-within {
      background-color: #c2e2ed;
    }
  }

  &--input {
    border: none;
    background-color: transparent;
    width: 100%;
  }

}