.book-edit-console {
  display: inline-block;
  margin-bottom: 0.4rem;

  &__input-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__input-container {
    flex: 0 1 35rem;
  }

  &__input-label {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-bottom: 0;
  }

  &__input-wrapper {
    border-radius: 3px;
    background-color: #d6d6d6;
    line-height: 2rem;
    height: 2.5rem;
    padding: 0 .5rem;

    &:focus {
      background-color: #c2e2ed;
    }
  }

  &__input {
    border: none;
    background-color: transparent;
    width: 100%;

    &:focus {
      outline: none
    }
  }
  &__error-message {
    font-size: 1.4rem;
    color: maroon;
    white-space: nowrap;
  }
}