.Units-table {
    margin-left: 50px;
    width: 20%;
    padding: 10px;
}

.Units-row {
    text-align: left;
}

.Units-cell {
    padding-top: 2px;
    padding-left: 10px;
}

.Units-header {
    color: blue;
}