.object-tree-view {

  max-width: 120rem;
  margin: 3rem auto;

  &__object {
    display: flex;
    align-items: center;
    margin-top: .3rem;
  }

  &__object-property {
    display: flex;
    align-items: center;
  }

}

.property-aspect-type {
  margin-right: 1rem;
}

.object-property-input-name {
  margin-right: 1rem;
}

.object-input-name {
  margin-right: .6rem;
}

.object-property-input-aspect {
  min-width: 20rem;
  margin-right: 1rem;
}

.object-property-input-cardinality.pt-select {
  margin-right: 1rem;
}

.object-input-subject {
  margin: 0 .6rem;
  min-width: 20rem;
}