@import "~@blueprintjs/core/lib/scss/variables";

.object-tree-view {
  max-width: 120rem;
  margin: 3rem auto;
}

.object-line {

  display: flex;
  align-items: center;

  &__name {
    margin-right: 1rem;
  }

  &__description {
    height: 1.6rem;
    margin-right: 1rem;
  }

  &__subject {
    margin: 0 1rem;
  }

  &__subject-description {
    height: 1.6rem;
    margin-right: 1rem;
  }
}

.object-property-value-line {

  display: flex;
  align-items: center;

  &__role-name {
    margin-right: 1rem;
  }

  &__aspect-name {
    margin-right: 1rem;
  }

  &__value {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__value-measure {

  }
}
