@import "~@blueprintjs/core/src/common/colors";
@import "~@blueprintjs/core/src/common/color-aliases";

.bp3-dialog.aspects-overlay {
  width: 120rem;
}

.link-button {
  &--icon {
    height: 1.6rem;
    width: 1.6rem;
    fill: $pt-intent-primary;
  }
}