.auth-form-iwings {
    text-align: center;
    background-color: #eeeeee;
    padding: 30px 30px 30px 30px;
    width: 20%;
    border-radius: 10px;
    position: absolute;
    left: 40%;
    top: 35%;
}