<configuration>

    <property name="LOG_DIRECTORY" value="./logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date{dd-MM-YY HH:mm:ss.SSS} %highlight(%-5level) [%15thread] %cyan(%logger{40}) : %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="com.infowings.com.infowings.catalog" level="TRACE"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>