@import "abstract";

.left-column {
  flex: 0 0 50%;
}

.right-column {
  flex: 1;
}

.columns-wrapper {
  display: flex;
}

.measures-page {
  max-width: 120rem;
  margin: 2rem auto;
}

.measures-list {
  padding-bottom: 5rem;

  &--measure {
    display: inline-block;
    padding: .2rem;

    & > span {

      &:first-child {
        padding-right: .5rem;
      }

      &:last-child {
        padding-left: .5rem;
      }
    }
  }

  &--measure-group {
    display: flex;
    align-items: center;
    padding: .2rem;
  }

  &--description-icon {
    height: 1.4rem;
    width: 1.4rem;
    fill: $color-icon-default;
    margin-left: .5rem;
  }
}

.not_contains_filter_text {
  opacity: 0.4
}

.unit-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}