$color-green: green;
$color-red: darkred;
$color-yellow: #ffa500;

.history-group {
  width: 95%;
  margin: auto;
  max-width: 90rem;
  min-width: 60rem;
}

.history-item {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem auto 3rem;

  &--field {

    margin: 0.1rem 1rem 0.1rem 0;
    cursor: default;

    &__cursive {
      font-style: italic;
    }

    &__pointer {
      cursor: pointer;
    }

    &__red {
      color: $color-red;
      font-weight: bold;
    }

    &__yellow {
      color: $color-yellow;
      font-weight: bold;
    }

    &__green {
      color: $color-green;
      font-weight: bold;
    }

  }

  &--icon {
    height: 3rem;
  }
}

.history_properties {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.history-aspect-view {

  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  &--wrapper {
    margin-top: -2rem;
    margin-bottom: 2rem;
  }
}

.history-subject-view {

  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  &--wrapper {
    margin-top: -2rem;
    margin-bottom: 2rem;
  }
}

.subject-view {
  max-width: 120rem;
  margin: 3rem auto;
  padding-bottom: 20rem;

  &--description-icon {
    height: 1.6rem;
    width: 1.6rem;
    margin-left: .2rem;
  }

  &--expand-all-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: .2rem;
  }

  &--rip-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: .5rem;
  }

  &--label {
    display: inline-block;
    cursor: pointer;
    padding: .7rem .2rem;

    &__property-selected {
      border-radius: 2px;
    }

    &__selected {
      border-radius: 2px;
    }

    & > span:first-child {
      padding-right: .5rem;
    }

    & > span:not(:first-child) {
      padding: 0 .5rem;
    }

    &:hover > span {
      text-decoration: underline;
    }
  }
}

.history-diff {
  margin-left: 20%;
  margin-right: 20%;

  &--item {
    display: flex;
    justify-content: space-between;

    span {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    &__red {
      color: $color-red;
    }

    &__green {
      color: $color-green;
    }
  }
}