$color-green: green;
$color-red: darkred;
$color-yellow: #ffa500;

.history-group {
  width: 95%;
  margin: auto;
}

.history-item {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem auto auto;

  &--field {

    margin: 0.1rem 1rem 0.1rem 0;
    cursor: default;

    &__cursive {
      font-style: italic;
    }

    &__pointer {
      cursor: pointer;
    }

    &__red {
      color: $color-red;
      font-weight: bold;
    }

    &__yellow {
      color: $color-yellow;
      font-weight: bold;
    }

    &__green {
      color: $color-green;
      font-weight: bold;
    }

  }

  &--icon {
    height: 3rem;
  }
}

.aspect-popup-container > .popup {
  min-height: 30rem;
  width: 50rem;
  text-align: center;
  font-size: large;

  .aspect-tree-view--root {
    margin-left: 2rem;
    margin-top: 2rem;
  }
}

.history-diff {
  margin-left: 20%;
  margin-right: 20%;

  &--item {
    display: flex;
    justify-content: space-between;

    &__red {
      color: $color-red;
    }

    &__green {
      color: $color-green;
    }
  }
}