@import "~@blueprintjs/core/lib/scss/variables";

.object-tree-edit {

  max-width: 120rem;
  margin: 3rem auto;

  &__object {
    display: flex;
    align-items: center;
    margin-top: .3rem;

    & > * {
      margin-right: 1rem;
    }

    & > .object-input-subject {
      width: 25rem;
    }
  }

  &__object-property {
    display: flex;
    align-items: center;

    & > * {
      margin-right: 1rem;
    }

    & > *:first-child {
      margin-left: 1rem;
      margin-right: 2rem;
    }
  }

  &__property-value {
    display: flex;
    align-items: center;

    & > * {
      margin-right: 1rem;
    }

    & > *:first-child {
      margin-left: 1rem;
      margin-right: 2rem;
    }
  }

  &__aspect-property {
    display: flex;
    align-items: center;

    & > * {
      margin-right: 1rem;
    }
  }

  &__aspect-property-empty {
    display: flex;
    align-items: center;

    & > * {
      margin-right: 1rem;
    }
  }

}

.aspect-property {

  &__property-cardinality {

    &--conforms {
      color: rgba($green3, 0.5);
    }

    &--conforms-not {
      color: rgba($red3, 0.5);
    }
  }
}

.object-input-description {
  height: 1.6rem;
}

.aspect-value {
  &__label {
    margin-right: 1rem;
  }
}

.property-aspect-type {
  margin-right: 1rem;
}

.object-property-input-name {
  margin-right: 1rem;
}

.object-input-name {
  margin-right: .6rem;
}

.object-property-input-aspect {
  min-width: 20rem;
  margin-right: 1rem;
}

.object-property-input-cardinality.pt-select {
  margin-right: 1rem;
}

.object-input-subject {
  margin: 0 .6rem;
  min-width: 20rem;
}

.object-value-input__boolean.pt-switch {
  margin: 0;
}