.rtable-input {
  outline: none;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  width: 100%;
}


.rtable-input:focus {
  border: 1px solid darkgreen;
}

.aspect-management-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size: 1.3em;
  line-height: 1em;
}

.aspect-management-container.hidden {
  display: none;
}

.circle-green {
  color: darkgreen;
}

.circle-red {
  color: darkred;
}

.aspect-icon-container {
  display: inline-block;
  cursor: pointer;
}

.create-new-aspect-container {
  text-align: center;
  font-size: 1.3em;
  line-height: 1em;
  color: darkgreen;
  cursor: pointer;
}

.create-new-aspect-container.create-new-aspect-container--disabled {
  color: grey;
  cursor: default;
}