.subjects-page {
  max-width: 120rem;
  margin: 2rem auto;
}

.new-aspect-select {
    width: 300px;
}

.subject-description {
  height: 1.6rem;
  width: 1.6rem;
  margin: 0 .5rem 0 1rem;
}

.subject-row {
  display: flex;
  align-items: center;
}