<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <tx:annotation-driven/>

    <bean id="userAcceptService" class="com.infowings.catalog.auth.UserAcceptService">
        <constructor-arg ref="orientDatabase"/>
    </bean>

    <bean id="orientDatabase" class="com.infowings.catalog.storage.OrientDatabase">
        <constructor-arg name="url" value="${orient.url}"/>
        <constructor-arg name="database" value="${orient.database}"/>
        <constructor-arg name="user" value="${orient.user}"/>
        <constructor-arg name="password" value="${orient.password}"/>
    </bean>

    <bean id="orientHeartBeat" class="com.infowings.catalog.storage.OrientHeartBeat">
        <constructor-arg name="database" ref="orientDatabase"/>
        <constructor-arg name="seconds" value="60"/>
    </bean>

    <bean id="metadataService" class="com.infowings.catalog.data.AspectService">
        <constructor-arg ref="orientDatabase"/>
        <constructor-arg ref="measuerService"/>
    </bean>

    <bean id="aspectApi" class="com.infowings.catalog.external.AspectApi">
        <constructor-arg ref="metadataService"/>
    </bean>

    <bean id="measuerService" class="com.infowings.catalog.data.MeasureService">
        <constructor-arg name="database" ref="orientDatabase"/>
    </bean>

    <bean id="referenceBookService" class="com.infowings.catalog.data.ReferenceBookService">
        <constructor-arg name="database" ref="orientDatabase"/>
    </bean>

    <bean id="suggestionService" class="com.infowings.catalog.search.SuggestionService">
        <constructor-arg ref="orientDatabase"/>
    </bean>
</beans>