@import "abstract";

.popup-container {
  padding: 1rem;

  & > h3 {
    text-align: center;
  }
  & > p {
    margin-top: 3em;
    text-align: center;
  }
  & > .button-area {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    width: 100%;

    & > button {
      flex: 0 1 9rem;

      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
    margin-bottom: 2rem;
  }
}
