$color-background-white: #FFFFFF;
$color-background-blue: #c2e2ed;

$color-icon-default: #444;
$color-icon-hover: #333;
$color-icon-grey: #888;

$color-aspect-selected: rgb(194, 226, 237);
$color-aspect-property-selected: rgba($color-aspect-selected, 0.6);

$color-text-dark-grey: #666;

$color-border: #d6d6d6;

$tree-level-translation: 2rem;