* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5% // 1rem = 10px
}

a {
  text-decoration: none !important;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.6rem !important;
  font-size: 1.6rem !important;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}