@import "abstract";
@import "~@blueprintjs/core/src/common/colors";
@import "~@blueprintjs/core/src/common/color-aliases";

.aspect-tree-view {

  max-width: 120rem;
  margin: 3rem auto;
  padding-bottom: 20rem;

  &--new-aspect {
    margin-left: 1.8rem;
  }

  &--empty-property-wrapper {
    margin-left: 1.8rem;
  }

  &--button-new {
    margin-left: 1.8rem;
  }

  &--add-to-list-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-icon-default;
    margin-left: .5rem;

    &:hover {
      fill: $color-icon-hover;
    }
  }

  &--description-icon {
    height: 1.6rem;
    width: 1.6rem;
    fill: $color-icon-default;
    margin-left: .2rem;
  }

  &--expand-all-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-icon-default;
    margin-left: .2rem;
  }

  &--rip-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-icon-default;
    margin-left: .5rem;

    &:hover {
      fill: $color-icon-hover;
    }
  }

  &--label {
    display: inline-block;
    cursor: pointer;
    padding: .7rem .2rem;

    &__property-selected {
      background-color: rgba($pt-intent-primary, 0.15);
      border-radius: 2px;
    }

    &__selected {
      background-color: rgba($pt-intent-primary, 0.15);
      border-radius: 2px;
    }

    & > span:first-child {
      padding-right: .5rem;
    }

    & > span:not(:first-child) {
      padding: 0 .5rem;
    }

    &:hover > span {
      text-decoration: underline;
    }
  }

  &--label-property {
    &-name {
      padding-right: .2rem;
    }

    &-cardinality {
      padding: 0 .2rem;
    }
  }

}