@import "abstract";

.aspect-tree-view {

  max-width: 120rem;
  margin: 0 auto;
  padding-bottom: 20rem;

  &--root {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;

    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  &--property {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;

    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  &--line-icon {
    height: 1.6rem;
    width: 1.6rem;
    stroke: $color-icon-default;
    margin-right: .4rem;

    &__clickable:hover {
      fill: $color-icon-hover;
    }
  }

  &--add-to-list-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-icon-default;
    margin-left: .5rem;

    &:hover {
      fill: $color-icon-hover;
    }
  }

  &--label {
    display: inline-block;
    cursor: pointer;
    padding: .2em;

    &__aspect-selected {
      background-color: $color-aspect-selected;
      border-radius: 2px;
    }

    &__property-selected {
      background-color: $color-aspect-property-selected;
      border-radius: 2px;
    }

    &__selected {
      background-color: $color-aspect-selected;
      border-radius: 2px;
    }

    & > span {
      padding: 0 .5rem;
    }

    &:hover > span {
      text-decoration: underline;
    }
  }

  &--label-name {
    font-weight: 600;
  }

  &--label-measure {
    color: $color-text-dark-grey;
  }

  &--label-domain {
    color: $color-text-dark-grey;
  }

  &--label-base-type {
    color: $color-text-dark-grey;
  }

  &--label-property {
    color: $color-text-dark-grey;

    &-name {
      font-weight: 600;
      padding-right: .5rem;
    }

    &-cardinality {
      padding-left: .5rem;
    }
  }

  &--properties-block {
    padding-left: $tree-level-translation;
    padding-bottom: .7rem;
  }

}