@import "abstract";

.aspect-tree-view {

  max-width: 120rem;
  margin: 0 auto;
  padding-bottom: 20rem;

  &--add-to-list-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-icon-default;
    margin-left: .5rem;

    &:hover {
      fill: $color-icon-hover;
    }
  }

  &--expand-all-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-icon-default;
    margin-left: .2rem;
  }

  &--label {
    display: inline-block;
    cursor: pointer;
    padding: .2em;

    &__aspect-selected {
      background-color: $color-aspect-selected;
      border-radius: 2px;
    }

    &__property-selected {
      background-color: $color-aspect-property-selected;
      border-radius: 2px;
    }

    &__selected {
      background-color: $color-aspect-selected;
      border-radius: 2px;
    }

    & > span {
      padding: 0 .5rem;
    }

    &:hover > span {
      text-decoration: underline;
    }
  }

  &--label-name {
    font-weight: 600;
  }

  &--label-measure {
    color: $color-text-dark-grey;
  }

  &--label-domain {
    color: $color-text-dark-grey;
  }

  &--label-base-type {
    color: $color-text-dark-grey;
  }

  &--label-property {
    color: $color-text-dark-grey;

    &-name {
      font-weight: 600;
      padding-right: .2rem;
      font-style: italic;
    }

    &-cardinality {
      padding: 0 .2rem;
    }
  }

}