.rtable-input {
  outline: none;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  width: 100%;
}


.rtable-input:focus {
  border: 1px solid darkgreen;
}

.aspect-management-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size: 1.3em;
  line-height: 1em;
}

.aspect-management-container.hidden {
  display: none;
}

.circle-green {
  color: darkgreen;
}

.circle-red {
  color: darkred;
}

.aspect-icon-container {
  display: inline-block;
  cursor: pointer;
}

.create-new-aspect-container {
  text-align: center;
  font-size: 1.3em;
  line-height: 1em;
  color: darkgreen;
  cursor: pointer;
}

.create-new-aspect-container.create-new-aspect-container--disabled {
  color: grey;
  cursor: default;
}

.aspect-property-table-wrapper {
  background-color: rgba(0, 0, 0, 0.05);
}

.new-property-button {
  text-align: center;
  font-size: 1.5em;
  line-height: 1em;
  color: darkgreen;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 7px 5px;
}

.ReactTable .rt-td.aspect-cell {
  overflow: visible;
}

.ReactTable.aspect-table .rt-table {
  overflow: visible;
}

.ReactTable.aspect-table .rt-tbody {
  overflow: visible
}