.aspect-subject-filter {
  flex: 25rem 1 1;
  margin-right: 1rem;
}

.aspect-filter-exclude {
  flex: 25rem 1 1;
}

.object-subject-filter {
  flex: 25rem 1 1;
  margin-right: 1rem;
}

.object-filter-exclude {
  flex: 25rem 1 1;
}
